@import '~bootstrap/scss/bootstrap';

nav {
    height: 6rem;
    width: 85%;
    margin: 0 auto;

    .logo-container {
        height: 4rem;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
        }
    }
    
    a {
        text-decoration: none;
        margin-right: 3rem;
        color: black;
      }
    
      ul li:hover a{
        color: rgba(2, 130, 249, 1);
        border-bottom: 2px solid rgba(2, 130, 249, 1);
      }
    
      header ul li {
        color: black;
        list-style-type: none;
       
      }
  }
